
.m{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: red;
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
}
.showR{
    display: block;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}
.notFound{
    width: 100%;
}